@import "src/app/styles/colors";
@import "src/app/styles/font";

* {
  background-color: rgb(38, 38, 38);
  padding: 3px;
  margin: 3px;
}

/* Base styles for all screen sizes */

.user-info-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #00d886;
}

.user {
  display: grid;
  grid-template-columns: 200px 300px;
  gap: 24px;

  &-image {
    width: 175px;
    height: 175px;
    border-radius: 50%;
  }

  &-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #00d886;
  }
}

.form {
  width: 100%;
  color: #00d886;
  &__input {
    width: 100%;
  }
}

.form-actions {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__create {
    margin-left: 10px;
  }

  &__cancel {
    font-size: 12px;
    font-weight: $fw-lighter;
    color: red;
  }
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
  .user {
    grid-template-columns: 1fr; /* Single column for smaller screens */
    grid-gap: 12px;
    text-align: center;
    justify-items: center;

    &-image {
      width: 150px;
      height: 150px;
    }

    &-data {
      align-items: center;
      text-align: center;
    }
  }
}

/* Add more media queries as needed for specific breakpoints */
