* {
  background-color: black;
}

.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.not-found-card {
  max-width: 80%;
  text-align: center;
  color: palegreen;
  font-size: 48px;
}
