<div class="card-container">
    <mat-card *ngFor="let trade of tradeData" class="trade-card">
      <div class="trade-image" [style.background-image]="'url(' + trade.image + ')'"></div>
      <div class="trade-details">
        <mat-card-header>
          <mat-card-title>{{ trade.title }}</mat-card-title>
          <mat-card-subtitle>{{ trade.date }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions>
          <button mat-button (click)="goToTradeDetails(trade)">VIEW DETAILS</button>
        </mat-card-actions>
      </div>
    </mat-card>
  </div>
  