<app-layout>
  <div class="blog-container">
    <div class="blog-header">
      <a [externalLink]="selectedTrade?.image" class="blog-cover">
        <div class="hover-overlay">
          <span>VIEW IN FULL SCREEN</span>
        </div>
        <img
          class="hero-image"
          [src]="selectedTrade?.image"
          [alt]="selectedTrade?.image"
        />
      </a>
      <div class="blog-author">
        <h3>{{ selectedTrade?.title }}</h3>
      </div>
    </div>

    <div class="blog-body">
      <div class="blog-title">
        <h1>{{ selectedTrade?.pair }}</h1>
      </div>
      <div class="blog-summary">
        <p>{{ selectedTrade?.description }}</p>
      </div>
      <div class="blog-tags">
        <ul>
          <li>
            <h2>{{ selectedTrade?.type }}</h2>
          </li>
        </ul>
      </div>
    </div>

    <div class="blog-footer">
      <ul>
        <li class="published-date">{{ selectedTrade?.date }}</li>
        <li class="shares">
          <mat-icon
            title="like"
            class="icon-star"
            *ngIf="!isOwner() && !isLikedByUser()"
            (click)="like()"
            >favorite_border</mat-icon
          >
          <mat-icon
            title="dislike"
            class="icon-liked"
            *ngIf="isLikedByUser()"
            (click)="dislike()"
            >favorite_border</mat-icon
          >
          <a *ngIf="selectedTrade"
            ><span class="numero">{{ selectedTrade.likedBy.length }}</span></a
          >
        </li>
        <li class="comments">
          <mat-icon
            title="comment"
            class="comment-icon"
            (click)="openComments()"
            >comment</mat-icon
          >
        </li>
      </ul>
      <div class="comments-section" *ngIf="showComments">
        <h2>Comments</h2>
        <div class="comment-list">
          <div class="comment" *ngFor="let comment of selectedTrade?.comments">
            <div class="comment-content">
              <span class="comment-user">{{ comment.userName }}</span>
              <p class="comment-text">{{ comment.comment }}</p>
            </div>
            <div class="grid">
              <div class="comment-date">
                <p>{{ comment.date }}</p>
              </div>
              <div class="comment-del">
                <mat-icon
                  title="Delete Comment"
                  class="delete-comment"
                  *ngIf="comment.userId === user()"
                  (click)="deleteComment(selectedTrade, comment)"
                >
                  close
                </mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div class="new-comment">
          <input
            type="text"
            placeholder="Add a comment"
            [(ngModel)]="newComment"
          />
          <button (click)="addComment()">Add Comment</button>
        </div>
      </div>
    </div>
  </div>
</app-layout>
