@import "src/app/styles/colors";
@import "src/app/styles/variables";

.settings-button {
  box-shadow: none;
  color: $settings-button-color;
  &:hover {
    color: $settings-button-color-hover;
  }

  &__icon {
    color: inherit;
  }
}

.settings-menu {
  position: absolute;

  &__item {
    color: $dark-grey;
  }
}
